{% extends "layout.html" %}

{% block title %}Create Exam{% endblock %}

{% block content %}
<div class="content-section animate__animated animate__fadeInUp">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Create Exam</legend>
      <div class="form-group">
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control form-control-lg") }}
      </div>
      <!-- Row for Numbers -->
      <div class="form-row" style="display: flex; gap: 20px;">
        <div class="col form-group">
          {{ form.num_questions.label(class="form-label") }}
          {{ form.num_questions(class="form-control") }}
        </div>
        <div class="col form-group">
          {{ form.num_options.label(class="form-label") }}
          {{ form.num_options(class="form-control") }}
        </div>
        <div class="col form-group">
          {{ form.num_students.label(class="form-label") }}
          {{ form.num_students(class="form-control") }}
        </div>
      </div>

      <!-- Row for Timing -->
      <h5 class="mt-2 text-primary"><i class="far fa-clock"></i> Timing Window (Strict)</h5>
      <div class="form-row" style="display: flex; gap: 20px;">
        <div class="col form-group">
          {{ form.start_time.label(class="form-label") }}
          {{ form.start_time(class="form-control", type="datetime-local") }}
        </div>
        <div class="col form-group">
          {{ form.end_time.label(class="form-label") }}
          {{ form.end_time(class="form-control", type="datetime-local") }}
        </div>
      </div>

      <div class="form-group">
        {{ form.duration.label(class="form-label") }}
        {{ form.duration(class="form-control", placeholder="In Minutes") }}
        <small class="text-muted">Users will differntiate this time once they start.</small>
      </div>

      <div class="form-check">
        {{ form.is_private(class="form-check-input") }}
        {{ form.is_private.label(class="form-check-label") }}
      </div>

      <!-- Student Select (Optional) -->
      {% if form.student_usernames.choices %}
      <div class="form-group mt-2">
        {{ form.student_usernames.label(class="form-label") }}
        {{ form.student_usernames(class="form-control", size=5) }}
        <small class="text-muted">Hold Ctrl/Cmd to select multiple.</small>
      </div>
      {% endif %}
    </fieldset>
    <div class="form-group">
      {{ form.submit(class="btn btn-primary") }}
    </div>
  </form>
</div>
{% endblock %}